{% comment %} {% extends 'blog/base.html' %} {% endcomment %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ILMAN DJANGO</title>
    <link rel="stylesheet" type="text/css" href="% static 'css/style.css' %">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>
<body>
{% include "blog/navbar.html" %}



{% comment %} {% block header %}
    
    <h1>halo</h1>
    <p>Testing</p>

{% endblock header %} {% endcomment %}

    </nav>
    <center>
    <h2>HOLA INI ADALAH TESTING DJANGO ILMAN</h2>
    <img clas="center" src="{% static "image/testing.jpg" %}" alt="" />
</center>
    <script>src="{% static 'vendor/jquery/jquery.js' %}"</script>
    <script>src="{% static 'vendor/popper/popper.js' %}"</script>
    <script>src="{% static 'vendor/bootstrap/bootstrap.js' %}"</script>
</body>
</html>